<div class="card-panel-box" style="min-height: 380px;position: relative;">
    <div class="card-panel-box-heading">
        Count of PMID with Relevant Genes or Diseases
    </div>
    <!-- <div *ngIf="noDataFound" class="bg-danger" style="color:#fff; text-align: center; font-weight: bold;">
        Please Choose Pair Type and Source Node for Second Degree
    </div> -->
    <div *ngIf="noDataFound" class="bg-danger" style="color:#fff; text-align: center; font-weight: bold;">
        Please Choose Pair Type and Source for Second Degree
    </div>

    <div class="container2">
        <div class="row">
            <div class="col">
                <div class="text-muted fs-2 text-center mb-4" *ngIf="!pmidCountGraph.length">Please select entities to
                    generate Article Count Graph!</div>
                <div class="overlay-second" style="position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);z-index: 9;" *ngIf="graphLoader">
                    <img src="../../assets/images/loader_big.gif" />
                </div>
                <div *ngIf="noSourceNodeSelected==0">
                    <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions"
                        style="width: 96%; display: block" *ngIf="pmidCountGraph.length>0"></highcharts-chart>
                </div>
            </div>
        </div>
    </div>

    <!-- <div *ngIf="errorMsg!==''">
    {{errorMsg}}
</div> -->
</div>