:root{
    --primaryColor : #BF65A4;
    --primaryDarkColor : #9e3980;
    --secondaryColor : #214693;
    --themeBg : #EEF5FF;
    --white : #fff;
    --gray1 : #636363;
    --gray2 : #ECF0F5;
    --gray3 : #2F2F2F;
    --gray4 : #D2DDEB;
    --border-color : #848484;
    --tabsInactive : #899FCD;
    --black1 : #373737;
}