:root{
    --auto : auto;
    --spacer-4 : 4px;
    --spacer-5 : 5px;
    --spacer-8 : 8px;
    --spacer-10 : 10px;
    --spacer-12 : 12px;
    --spacer-15 : 15px;
    --spacer-16 : 16px;
    --spacer-20 : 20px;
    --spacer-24 : 24px;
    --spacer-25 : 25px;   
    --spacer-30 : 30px;
    --spacer-35 : 35px;
    --spacer-40 : 40px;
    --spacer-45 : 55px;
    --spacer-50 : 50px;
    --spacer-60 : 60px;
    --spacer-70 : 70px;
    --spacer-80 : 80px;
    --spacer-90 : 90px;
    --spacer-100 : 100px;
    --spacer-120 : 120px;
    --spacer-140 : 140px;
    --spacer-150 : 150px;
    --spacer-170 : 170px;
    --spacer-200 : 200px;
    --heading1 : 32px;
    --heading2 : 27px;
    --heading3 : 25px;
    --heading4 : 22px;
    --heading5 : 20px;
    --heading6 : 18px;
    --paragraph1 :12px;
    --paragraph2 : 13px;
    --paragraph3 : 14px;
    --paragraph4 : 15px;
    --paragraph5 : 16px;
}