.dropdown{
    .dropdown-toggle{
        &::after{
            display: none;
        }

        .filter-spinner{
            position: absolute;
            right: 3px;
            top: 6px;
        }
    }
    .dropdown-menu{
        transform: none !important;
        top: 31px !important;
        padding: var(--spacer-5) var(--spacer-10);
        width: 100%;
        max-height: 250px;
        overflow: auto;
        resize: both;

        .search-options{
            li{
                cursor: pointer;
            }
        }
    }
}
