<div class="card-panel-box" style="min-height: 380px;position: relative;">
    <div class="card-panel-box-heading">
        Distribution By Relation Group
    </div>
    <!-- <div *ngIf="loadingChart" style="position:absolute; margin-left:350px; z-index:999;">
    <img src="../../assets/images/loader_big.gif" />                
</div> -->

    <div *ngIf="noDataFound" class="bg-danger" style="color:#fff; text-align: center; font-weight: bold;">
        Please Choose Pair Type For Second Degree
    </div>
    <!-- <div id="container" style="border: 1px solid #ddd; margin-bottom:10px;">
    <div class="text-muted fs-2 text-center mb-4">Please select entities to generate Relations!</div>
</div> -->

    <div class="text-muted fs-2 text-center mb-4" *ngIf="loadingMessage">
        Please select entities to generate Relations
    </div>

    <div class="overlay" *ngIf="loadingChart"
        style="position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);z-index: 9;">
        <img style="margin-left: 359px;margin-top: 100px;" src="../../assets/images/loader_big.gif" />
    </div>

    <!-- <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions" style="width: 100%; display: block">
    </highcharts-chart> -->
    <!-- <div *ngIf="noSourceNodeSelected==0"> -->

    <div>
        <!-- <div class="">
            <select class="" (change)="selectGraph($event)">
                <option class="dropdown-item" value="polar"> Polar Chart</option>
                <option class="dropdown-item" value="bar"> Bar Chart</option>
            </select>
        </div> -->

        <div *ngIf="!loadingMessage"
            style="margin:4px;padding: 5px;width: 145px;border-radius: 6px;background: var(--tabsInactive);color: #fff;">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="graph" value="polar" (click)="selectGraph($event)"
                    checked>
                <label class="form-check-label" for="inlineRadio1">Polar</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="graph" value="bar" (click)="selectGraph($event)">
                <label class="form-check-label" for="inlineRadio2">Bar</label>
            </div>
        </div>
        <div id="container"></div>
    </div>
    <!--<div *ngIf="errorMsg!==''">
    {{errorMsg}}
</div>-->
</div>

<ng-template #showPopupEvent let-c="close" let-d="dismiss">
    <div class="modal-content" id="showPopupEvent">
        <div class="modal-header blue_bg_hdr modal-lg">
            <h4 class="modal-title">Edges(s) </h4>
            <button class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body white_bg without_bord_rad">
            <div class="row">
                <div class="col-md-12 bottam-buffer home_tiles">

                    <div class="m-1">
                        <div class="fade show">
                            <div id="container_popup"></div>
                            <div class="text-center" *ngIf="graphLoaderDrill">
                                <img src="../../assets/images/loader_big.gif" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</ng-template>