h2 {
    // color: #345F90;
    font-size: 24px;
    line-height: 1.25;
    font-family: "Roboto Slab", serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.rank-dropdown{
    button{
        text-align: left;
        background-color: var(--filter-bar-bg) !important;
        color: var(--text-white-all) !important;
    }
    .dropdown-menu{
        background-color: #f4f5f5;
        li{
            font-size: 13px;
            display: flex;
            align-items: center;

            input{
                margin-right: 5px;
            }
        }
    }
}






.main-layout{
    display: flex;
    column-gap: var(--spacer-25);
    padding:var(--spacer-30) var(--spacer-15);

    .left-sidebar{
        width:230px;
        min-width: 230px;
        height: 500px;
        box-shadow: 0px var(--spacer-10) var(--spacer-20) var(--spacer-20)  rgba(236, 240,245, 60%);
        border-radius: var(--spacer-10);
    }

    .selection-layout{
        box-shadow: 0px var(--spacer-10) var(--spacer-20) var(--spacer-20)  rgba(236, 240,245, 60%);
        border-radius: var(--spacer-10);
        width:100%;
        padding:var(--spacer-15)
    }
}

.custom-tabs-wrapper{
    .nav-tabs{
        border:none;
        column-gap: var(--spacer-10);
        margin-bottom: var(--spacer-20);
        li{
            button{
                border: none;
                background-color: var(--tabsInactive);
                color: var(--white);
                border-radius: var(--spacer-20);
                min-width: var(--spacer-100);

                &.active{
                    background-color: var(--secondaryColor);
                }
            }

            &.pmid-button{
                button{
                    background-color: var(--primaryDarkColor);
                }
            }
        }  
    }

}


@import './../../assets/SCSS/mixins.scss';


.degree-filers-wrapper{
    background-color: var(--secondaryColor);
    padding : var(--spacer-15);
    color: #fff;

    
    .degree-single{
        display: flex;
        align-items: center;
        margin-bottom: var(--spacer-5);
        column-gap: 10px;

        &:first-child{
            margin-bottom: var(--spacer-20);
        }

        .degree-indicator{
            width:120px;
            min-width: 120px;
        }

        .degree-input-wrapper{
            width:100%;
        }

        .add-degree-container{
            cursor: pointer;
            img{
                padding: 9px;
                background: #fff;
                border-radius: 3px;
                height: 30px;
                width: 29px;
            }
        }

        .expand-container{
            cursor: pointer;
            white-space: nowrap;
            min-width: var(--spacer-140);
            width: var(--spacer-140);
        }
    }

    .footer-bar{
        .custom-btn{
            @include buttonsPrimary(12px, var(--spacer-5), var(--spacer-25));
        }
    }
}

footer{
    padding:var(--spacer-10) 0;
}