/* You can add global styles to this file, and also import other style files */
@import url(./assets/SCSS/colors.scss);
@import url(./assets/SCSS/fonts.scss);
@import url(./assets/SCSS/variables.scss);
@import './assets/SCSS/mixins.scss';
@import "~bootstrap-icons/font/bootstrap-icons.css";


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Roboto:wght@300;400;500;700&display=swap');

// font-family: 'Inter', sans-serif;
// font-family: 'Roboto', sans-serif;

* {
    margin: 0;
    padding: 0;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul,
li,
div,
header,
nav,
button {
    font-family: 'Inter', sans-serif;
}

tspan {
    font-size: 9px;
}


//MODAL COMMON CSS
.rightWindow {
    .modal-dialog {
        margin-left: auto;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        height: 100vh;
        max-width: none;

        &.modal-xl {
            max-width: 80%;
        }

        .modal-content {
            height: 100%;
        }
    }

    &.fade:not(.in).right .modal-dialog {
        -webkit-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }
}

.commonModal {
    padding: var(--spacer-20);

    .modal-header {
        padding-top: 0;
        padding-bottom: 0;
        border: none;

        .modal-title {
            font-size: var(--spacer-20);
            font-weight: 600;
        }
    }
}

.customTable {
    button {
        @include buttonsPrimary(12px, 5px, 20px)
    }
}

#particles-js {
    position: absolute;
    z-index: 8;
    width: 100%;
    height: 100%;
    top: 35px;
}

.networkstatus {
    height: 0;
    overflow: hidden;

    &.offline {
        width: 100%;
        background: red;
        position: relative;
        z-index: 9999;
        text-align: center;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        height: auto;
    }
}

.reset-search {
    position: absolute;
    right: 10px;
    top: 6px;
    cursor: pointer;
    color: #6a6a6a;
}

.bs-bars {
    display: none;
}

text.highcharts-axis-title {
    font-size: 13px !important;
}

.search-options li {
    font-size: 13px;
    padding: 5px 0px;
    border-bottom: 1px solid #f4f5f5;
    cursor: pointer;
}


#showEventDescription {
    thead {
        tr {
            th {
                text-align: center;
            }
        }
    }
}

#showEventDescription {
    tbody {
        tr {
            td.align-middle {
                text-align: center;
            }
        }
    }
}

.modal-nodedetails {
    .conceptIdsWrapper {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        align-items: center;

        .conceptIdBox {
            margin-right: 10px;

            button {
                border: none;
                box-shadow: none;
                padding: 6px 10px;
                background: #BF63A2;
                color: #fff;
                border-radius: 3px;
                font-size: 13px;
            }
        }

        &::-webkit-scrollbar {
            width: 10px;
            height: 6px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 5px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
}

.pmid-listing {
    background-color: var(--gray2);
    padding: var(--spacer-10);
    border-radius: var(--spacer-8);
    max-height: calc(100vh - 190px);
    overflow: auto;

    .pmid-single {
        border-bottom: 1px solid var(--gray4);
        padding-bottom: var(--spacer-10);
        margin-bottom: var(--spacer-10);

        p {
            font-size: var(--paragraph2);
            font-weight: 600;
            color: var(--black1);
            margin-bottom: var(--spacer-5);

            span {
                color: var(--gray3);
                font-weight: 500;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &:last-child {
            border: none;
        }
    }
}

.source-details {
    background-color: var(--gray2);
    padding: var(--spacer-10);
    border-radius: var(--spacer-8);
    position: relative;
    margin-bottom: var(--spacer-10);
}

.modal-title {
    font-size: var(--spacer-20);
    font-weight: 600;
}

button.accordion-button.p-2.no-shadow {
    background-color: var(--tabsInactive) !important;
    color: var(--white) !important;
    font-size: var(--paragraph5) !important;
}

// .accordion-button {
//     position: relative;
//     display: flex;
//     /* align-items: center; */
//     width: 100%;
//     padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
//     font-size: 1rem;
//     color: var(--bs-accordion-btn-color);
//     text-align: left;
//     background-color: var(--bs-accordion-btn-bg);
//     border: 0;
//     border-radius: 0;
//     overflow-anchor: none;
//     transition: var(--bs-accordion-transition);
//     padding: 8px;
// }

// .accordion-button::after {
//     /* position: relative; */
//     display: flex;
//     align-items: center;
//     width: 100%;
//     padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
//     font-size: 1rem;
//     color: var(--bs-accordion-btn-color);
//     text-align: left;
//     background-color: var(--bs-accordion-btn-bg);
//     border: 0;
//     border-radius: 0;
//     overflow-anchor: none;
//     transition: var(--bs-accordion-transition);
//     padding: 8px;
// }