.left-sidebar-inner{
    h3{
        background-color: var(--secondaryColor);
        color: var(--white);
        border-radius: var(--spacer-10) var(--spacer-10) 0px 0px;
        padding: var(--spacer-8) var(--spacer-15);
        font-size: 18px;
    }
}