<div id="carouselExampleControls" class="carousel quick-stats-wrapper slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="quick-stats-box">
            <div class="stat-icon">
                <img src="assets/images/icons/ai-brain.svg" alt="">
            </div>
            <h3>6.7 Million</h3>
            <p>Articles</p>
        </div>
        <div class="quick-stats-box">
            <div class="stat-icon">
                <img src="assets/images/icons/connections.svg" alt="">
            </div>
            <h3>28,680,943</h3>
            <p>Connections</p>
        </div>
        <div class="quick-stats-box">
            <div class="stat-icon">
                <img src="assets/images/icons/gene-therapy.svg" alt="">
            </div>
            <h3>111,000</h3>
            <p>Disease</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="quick-stats-box">
            <div class="stat-icon">
                <img src="assets/images/icons/ai-brain.svg" alt="">
            </div>
            <h3>6.7 Million</h3>
            <p>Articles</p>
        </div>
        <div class="quick-stats-box">
            <div class="stat-icon">
                <img src="assets/images/icons/connections.svg" alt="">
            </div>
            <h3>28,680,943</h3>
            <p>Connections</p>
        </div>
        <div class="quick-stats-box">
            <div class="stat-icon">
                <img src="assets/images/icons/gene-therapy.svg" alt="">
            </div>
            <h3>111,000</h3>
            <p>Disease</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <img src="assets/images/icons/left-angle.svg"/>
        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span> -->
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <img src="assets/images/icons/right-angle.svg"/>
        <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span> -->
    </button>
  </div>