.quick-stats-wrapper{
    margin-top: var(--spacer-120);

    .carousel-item{
        padding:0px var(--spacer-120);
        .quick-stats-box{
            width:33%;
            min-width: 33%;
            text-align: center;
            display: inline-block;
            .stat-icon{
                margin-bottom: var(--spacer-10);
                img{
    
                }
            }
            h3{
                font-size: var(--spacer-20);
                font-weight: 600;
                color: #ddd;
            }
            p{
                color: var(--gray1);
                font-size: var(--spacer-16);
            }
        }
    }
    .carousel-control-next{
        justify-content: start;
    }
    .carousel-control-prev{
        justify-content: end;
    }
}
